@page "/classdetail"
@page "/classdetail/{classname}"
@using DBWebStudio.Data;
@using System.Text;
@inject MarsProxy mProxy;
@inject NavigationManager Navigation;
@inject NotifyManager mNotifier;
@inject IJSRuntime JS;

<div class="d-flex h-100 flex-column">
    <div class="card  text-light" style="background-color:rgba(100,100,100,0.2)">
        <div class="card-header" >
           @classname
        </div>
    </div>
    <div class="card text-light flex-fill mt-1" style="background-color:rgba(100,100,100,0.2);height:300px">
        <div style="height:100%;overflow-y:auto">
            <table class="table text-light">
                <thead>
                    <tr>
                        <th scope="col">序号</th>
                        <th scope="col">ID</th>
                        <th scope="col">名称</th>
                        <th scope="col">类型</th>
                        <th scope="col">读写模式</th>
                        <th scope="col">转换</th>
                        <th scope="col">最大值</th>
                        <th scope="col">最小值</th>
                        <th scope="col">精度</th>
                        <th scope="col">单位</th>
                        <th scope="col">记录</th>
                        <th scope="col">驱动</th>

                        <th scope="col">寄存器</th>
                        <th scope="col">区域</th>
                        <th scope="col">描述</th>
                        <th scope="col">扩展属性</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        foreach (var vv in mTags)
                        {
                            <tr class="tr" onclick="@(()=>SelectRow(vv))" @key=@vv.UName>
                                <td scope="row" style="width:48px">
                                    <StringEditor Value="@((i++).ToString())" Target="@vv">
                                    </StringEditor>
                                </td>
                                <td scope="row" style="width:48px">
                                    <StringEditor Value="@(vv.Id.ToString())" Target="@vv">
                                    </StringEditor>
                                </td>
                                <td scope="row">
                                    <StringEditor Value="@vv.Name" Target="@vv">
                                        <Editor>
                                            <input type="text" class="form-control bg-white bg-opacity-25  text-light py-0" placeholder="名称" @bind=@vv.Name />
                                        </Editor>
                                    </StringEditor>
                                </td>
                                <td scope="row">
                                    <StringEditor Value="@vv.TypeString" Target="@vv">
                                        <Editor>
                                            <CustomSelect @bind-IndexValue=@vv.Type Items="@mTypes" />
                                        </Editor>
                                    </StringEditor>
                                </td>
                                <td scope="row">
                                 @if (!(vv.RealTagMode is Cdy.Tag.ComplexTag))
                                 {
                                    <StringEditor Value="@vv.ReadWriteModeString" Target="@vv">
                                        <Editor>
                                            <CustomSelect Items="@(vv.ReadWriteModeList.ToList())" @bind-IndexValue=@vv.ReadWriteMode />
                                        </Editor>
                                    </StringEditor>
                                 }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row" style="min-width:32px">
                                 @if (!(vv.RealTagMode is Cdy.Tag.ComplexTag))
                                    {
                                        <StringEditor Value="@vv.ConvertString" Target="@vv">
                                            <Editor>
                                                <div class="hstack">
                                                    <span>@vv.ConvertString </span>
                                                    <button type="button" class="btn btn-secondary  py-0" data-bs-toggle="modal" data-bs-target="#convertModel">...</button>
                                                </div>
                                            </Editor>
                                        </StringEditor>
                                    }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row">
                                    @if ((vv.RealTagMode is Cdy.Tag.NumberTagBase))
                                    {
                                        <StringEditor Value="@(IsMaxValue(vv.RealTagMode,vv.MaxValue)?"最大值":vv.MaxValue.ToString())" Target="@vv">
                                            <Editor>
                                                <input type="number" style="width:64px" class="form-control px-0 bg-white bg-opacity-25  text-light  py-0" @bind=@vv.MaxValue />
                                            </Editor>
                                        </StringEditor>
                                    }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row">
                                  @if ((vv.RealTagMode is Cdy.Tag.NumberTagBase))
                                    {
                                        <StringEditor Value="@(IsMinValue(vv.RealTagMode,vv.MinValue)?"最小值":vv.MinValue.ToString())" Target="@vv">
                                            <Editor>
                                                <input type="number" style="width:64px" class="form-control  px-0 bg-white bg-opacity-25  text-light  py-0" @bind=@vv.MinValue />
                                            </Editor>
                                        </StringEditor>
                                    }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row">
                                  @if ((vv.RealTagMode is Cdy.Tag.NumberTagBase))
                                  {
                                    <StringEditor Value="@(vv.Precision.ToString())" Target="@vv">
                                        <Editor>
                                            <input type="number" style="width:56px" class="form-control px-0 bg-white bg-opacity-25  text-light  py-0" @bind=@vv.Precision />
                                        </Editor>
                                    </StringEditor>
                                  }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row">
                                    <StringEditor Value="@(vv.Unit)" Target="@vv">
                                        <Editor>
                                            <input type="text" style="width:128px" class="form-control px-0 bg-white bg-opacity-25  text-light  py-0" placeholder="单位" @bind=@vv.Unit />
                                        </Editor>
                                    </StringEditor>

                                </td>
                                <td scope="row">
                                     @if (!(vv.RealTagMode is Cdy.Tag.ComplexTag))
                                     {
                                        <input class="form-check-input" type="checkbox" @bind=@vv.HasHisTag />
                                     }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row">
                                     @if (!(vv.RealTagMode is Cdy.Tag.ComplexTag))
                                     {
                                        <StringEditor Value="@vv.DriverName" Target="@vv">
                                        </StringEditor>
                                     }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row">
                                    @if (!(vv.RealTagMode is Cdy.Tag.ComplexTag))
                                    {
                                        <StringEditor Value="@vv.RegistorName" Target="@vv">
                                        </StringEditor>
                                    }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </td>
                                <td scope="row">
                                    <StringEditor Value="@vv.Area" Target="@vv">
                                        <Editor>
                                            <input type="text" style="width:128px" class="form-control px-0  bg-white bg-opacity-25  text-light  py-0" @bind=@vv.Area />
                                        </Editor>
                                    </StringEditor>

                                </td>
                                <td scope="row">
                                    <StringEditor Value="@vv.Desc" Target="@vv">
                                        <Editor>
                                            <input type="text" class="form-control  px-0  bg-white bg-opacity-25  text-light  py-0" @bind=@vv.Desc />
                                        </Editor>
                                    </StringEditor>

                                </td>
                                <td scope="row">
                                    <StringEditor Value="@vv.ExtendField1" Target="@vv">
                                        <Editor>
                                            <input type="text" class="form-control  px-0  bg-white bg-opacity-25  text-light  py-0" @bind=@vv.ExtendField1 />
                                        </Editor>
                                    </StringEditor>

                                </td>
                            </tr>
                            if (vv == mLastSelect && vv.HasHisTag)
                            {
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="14">
                                        <div class="hstack">
                                            <div class="col-3 input-group ms-0 me-2 p-0" style="width:auto">
                                                <span class="input-group-text  bg-white bg-opacity-25  text-light  py-0" id="basic-addon1">记录类型</span>
                                                <CustomSelect @key=@(vv.Name+"record") Items="@(vv.RecordTypeList.ToList())" @bind-IndexValue="@vv.RecordType" />
                                            </div>
                                            @if (vv.RecordType == 0)
                                            {
                                                <div class="col-3 input-group mx-2 p-0" style="width:auto">
                                                    <span class="input-group-text  bg-white bg-opacity-25  text-light  py-0">周期</span>
                                                    <input type="text" class="form-control   bg-white bg-opacity-25  text-light  py-0" placeholder="周期" @bind=vv.CompressCircle>
                                                    <span class="input-group-text  bg-white bg-opacity-25  text-light  py-0">ms</span>
                                                </div>
                                            }
                                            else if (vv.RecordType == 1)
                                            {

                                            }
                                            else
                                            {
                                                <div class="col-3 input-group mx-2 p-0" style="width:auto">
                                                    <span class="input-group-text  bg-white bg-opacity-25  text-light  py-0" id="basic-addon1">每秒记录变量个数:</span>
                                                    <input type="text" style="width:48px" class="form-control   bg-white bg-opacity-25  text-light  py-0" placeholder="个数" @bind=vv.MaxValueCountPerSecond>
                                                </div>
                                            }
                                            <div class="col-3 input-group mx-2 p-0" style="width:auto">
                                                <span class="input-group-text  bg-white bg-opacity-25  text-light  py-0" id="basic-addon1">压缩类型</span>
                                                <CustomSelect IndexValue="@(vv.CompressType)" Items="@(vv.CompressTypeList.ToList())" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex mt-2 justify-content-between">
        <div class="hstack">
            <button type="button" class="btn btn-success me-2" onclick="@(()=>AddTag())">添加</button>
            <button type="button" class="btn btn-secondary me-2" disabled="@(mLastSelect==null)" onclick="@(()=>RemoveTag())">删除</button>
        </div>
        <span class="text-light mt-1" >总共 @(mTotalTagCount) 条记录</span>
        <PageNotifier @bind-CurrentPage=CurrentPage @bind-CurrentPage:event="CurrentPageChanged" TotalPage=@mTotalPage />
    </div>

    @{
        <div class="modal modal-static" id="convertModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importModelLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="importModelLabel">转换编辑</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ConvertControl Target="@mLastSelect" @ref=mConvertEdit />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="@(()=>ProcessConvertEdit())">确定</button>
                    </div>
               </div>
            </div>
        </div>
    }
</div>
@code {
    private string mKeyFilter = "";

    private bool mTypeFilterEnable = false;

    private string mTypeFilter = "";

    private List<string> mTypes;

    private bool mReadModeEnable = false;
    private int mReadModeFilter = 0;

    private bool mRecordModeEnable = false;

    private bool mAreaEnable = false;
    private string mAreaText = "";

    private bool mDriverEnable = false;
    private string mDriverText = "";

    private bool mRegisterEnable = false;
    private string mRegisterText = "";

    private bool mCompressEnable = false;
    private int mCompressText = 0;


    private bool mDriverRecordFilterEnable = false;
    private bool mTimerRecordFilterEnable = false;
    private bool mValueChangedRecordFilterEnable = false;

    private int mCurrentPage = 0;
    private int mTotalPage = 1;
    private int mTotalTagCount = 0;

    public int CurrentPage
    {
        get
        {
            return mCurrentPage;
        }
        set
        {
            mCurrentPage = value;
            RefreshTag();
        }
    }

    private bool mIsChanged = false;

    private List<RowTagViewModel> mTags = new List<RowTagViewModel>();

    [Parameter]
    public string classname { get; set; } = "";

    private string mLastClass = "";

    /// <summary>
    /// 
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        mTypes = TagViewModel.mTagTypeList.ToList();
        Navigation.LocationChanged += locationChanged;
    }

    private void  locationChanged(object sender, LocationChangedEventArgs e)
    {
        if (!e.Location.Contains("classdetail") || !e.Location.EndsWith(mLastClass))
        {
            if (mLastSelect != null)
            {
                mLastSelect.Proxy = mProxy;
                mLastSelect.IsSelected = false;
                mProxy.UpdateLinkedClassTags(classname);
            }
            Navigation.LocationChanged -= locationChanged;
            DisposeTags();
            if(!string.IsNullOrEmpty(mLastClass)&&mIsChanged)
            {
                mProxy.UpdateLinkedClassTags(mLastClass);
                mIsChanged = false;
            }
        }

    }

    private RowTagViewModel mLastSelect;

    private void SelectRow(RowTagViewModel model)
    {
        if (mLastSelect != model)
        {
            if (mLastSelect != null)
            {
                mLastSelect.Proxy = mProxy;
                mLastSelect.IsSelected = false;
            }
            mLastSelect = model;
            if (mLastSelect != null)
            {
                mLastSelect.IsSelected = true;
            }
            StateHasChanged();
        }
    }

    private ConvertControl mConvertEdit;

    private void ProcessConvertEdit()
    {
        mLastSelect.Convert = mConvertEdit.GetConvert();
    }

    private bool IsMaxValue(Cdy.Tag.Tagbase tag,double dval)
    {
        if(tag is Cdy.Tag.DoubleTag)
        {
            return dval == double.MaxValue;
        }
        else if(tag is Cdy.Tag.FloatTag)
        {
            return dval == float.MaxValue;
        }
        else if(tag is Cdy.Tag.IntTag)
        {
            return dval == int.MaxValue;
        }
        else if(tag is Cdy.Tag.UIntTag)
        {
            return dval == uint.MaxValue;
        }
        else if(tag is Cdy.Tag.LongTag)
        {
            return dval == long.MaxValue;
        }
        else if(tag is Cdy.Tag.ULongTag)
        {
            return dval == ulong.MaxValue;
        }
        else if(tag is Cdy.Tag.ShortTag)
        {
            return dval == short.MaxValue;
        }
        else if(tag is Cdy.Tag.UShortTag)
        {
            return dval == ushort.MaxValue;
        }
        else
        {
            return false;
        }
    }

    private bool IsMinValue(Cdy.Tag.Tagbase tag,double dval)
    {
        if(tag is Cdy.Tag.DoubleTag)
        {
            return dval == double.MinValue;
        }
        else if(tag is Cdy.Tag.FloatTag)
        {
            return dval == float.MinValue;
        }
        else if(tag is Cdy.Tag.IntTag)
        {
            return dval == int.MinValue;
        }
        else if(tag is Cdy.Tag.UIntTag)
        {
            return dval == uint.MinValue;
        }
        else if(tag is Cdy.Tag.LongTag)
        {
            return dval == long.MinValue;
        }
        else if(tag is Cdy.Tag.ULongTag)
        {
            return dval == ulong.MinValue;
        }
        else if(tag is Cdy.Tag.ShortTag)
        {
            return dval == short.MinValue;
        }
        else if(tag is Cdy.Tag.UShortTag)
        {
            return dval == ushort.MinValue;
        }
        else
        {
            return false;
        }
    }

    #region Query

    private List<string> mRegistors = new List<string>();

    /// <summary>
    /// 
    /// </summary>
    private void RefreshTag()
    {
        DisposeTags();
        BuildFilters();
        var vv = mProxy.QueryTagByClass(classname, mCurrentPage, out mTotalPage, out mTotalTagCount, mFilters);
        int lid = (int)(DateTime.Now.Ticks);
        foreach (var vvv in vv)
        {
            RowTagViewModel model = new RowTagViewModel(vvv.Value.Item1, vvv.Value.Item2) { Database = mProxy.CurrentDatabase, UID =lid};
            model.UpdateDelegate = UpdateTag;
            mTags.Add(model);
        }
    }

    private Dictionary<string, string> mFilters = new Dictionary<string, string>();
    private void BuildFilters()
    {
        mFilters.Clear();
        if (!string.IsNullOrEmpty(this.mKeyFilter))
        {
            mFilters.Add("keyword", mKeyFilter);
        }
        if (this.mTypeFilterEnable)
        {
            mFilters.Add("type", mTypes.IndexOf(this.mTypeFilter).ToString());
        }
        if (this.mReadModeEnable)
        {
            mFilters.Add("readwritetype", mReadModeFilter.ToString());
        }

        if (this.mAreaEnable)
        {
            mFilters.Add("area", mAreaText);
        }

        if (this.mRecordModeEnable)
        {
            if (this.mTimerRecordFilterEnable && this.mValueChangedRecordFilterEnable)
            {
                mFilters.Add("recordtype", "3");
            }
            else if (this.mTimerRecordFilterEnable)
            {
                mFilters.Add("recordtype", "0");
            }
            else if (this.mValueChangedRecordFilterEnable)
            {
                mFilters.Add("recordtype", "1");
            }
            else if(this.mDriverRecordFilterEnable)
            {
                mFilters.Add("recordtype", "4");
            }
            else
            {
                mFilters.Add("recordtype", "3");
            }
        }

        if (this.mCompressEnable)
        {
            mFilters.Add("compresstype", (mCompressText+1).ToString());
        }

        string stmp = "";
        if (this.mDriverEnable)
        {
            stmp = this.mDriverText;
        }
        if (!string.IsNullOrEmpty(stmp))
        {
            mFilters.Add("linkaddress", stmp);
        }

    }

    /// <summary>
    /// 
    /// </summary>
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if(classname==null)
        {
            classname = "";
        }
        if(mLastClass != classname)
        {
            if(!string.IsNullOrEmpty(mLastClass) && mIsChanged)
            {
                mIsChanged = false;
                mProxy.UpdateLinkedClassTags(mLastClass);
            }
            mLastClass = classname;
        }
        mRegistors = mProxy.GetRegistorDrivers().Keys.ToList();
        RefreshTag();
    }
    #endregion

    #region Add and Remove

    private string GetNewName(string baseName="tag")
    {
        return mProxy.GetAvaiableClassTagName(this.classname, baseName);
    }

    private bool UpdateTag(TagViewModel tagmodel)
    {
        if (tagmodel.IsNew)
        {
            int id;
            var re = mProxy.AddClassTag(classname,new Tuple<Cdy.Tag.Tagbase, Cdy.Tag.HisTag>(tagmodel.RealTagMode, tagmodel.HisTagMode), out id);
            if (re)
            {
                tagmodel.RealTagMode.Id = id;
                if (tagmodel.HisTagMode != null) tagmodel.HisTagMode.Id = id;
                tagmodel.IsChanged = false;
                tagmodel.IsNew = false;
                mIsChanged = true;
            }
           
            return re;
        }
        else
        {
            if (tagmodel.IsChanged)
            {
                var re = mProxy.UpdateClassTag(classname,new Tuple<Cdy.Tag.Tagbase, Cdy.Tag.HisTag>(tagmodel.RealTagMode, tagmodel.HisTagMode));
                if (re)
                {
                    tagmodel.IsChanged = false;
                }
                mIsChanged = true;
                return re;
            }
        }
        return false;
    }

    private void AddTag()
    {
        if (mLastSelect != null)
        {
            var vtag = mLastSelect.Clone();
            vtag.RealTagMode.Id = -1;
            if (vtag.HisTagMode != null)
                vtag.HisTagMode.Id = vtag.RealTagMode.Id;
            vtag.SetTagNane(GetNewName());

            vtag.IsNew = true;
            if (UpdateTag(vtag))
            {
                this.mTags.Add(vtag);
                SelectRow(vtag);
            }
        }
        else
        {
            var tag = new Cdy.Tag.DoubleTag() { Name = GetNewName() };
          
            var vtag = new RowTagViewModel(tag, null) { IsNew = true, Database = mProxy.CurrentDatabase };
            if (UpdateTag(vtag))
            {
                this.mTags.Add(vtag);
                SelectRow(vtag);
            }
        }
        mIsChanged = true;
    }

    private void RemoveTag()
    {
        if(mLastSelect!=null)
        {
            if(mProxy.RemoveClassTag(classname,mLastSelect.RealTagMode.Id))
            {
                mTags.Remove(mLastSelect);
                mIsChanged = true;
            }
        }
    }

    #endregion

    

    private void DisposeTags()
    {
        foreach (var vv in mTags)
        {
            vv.Dispose();
        }
        mTags.Clear();
    }
}
